<a href="https://colab.research.google.com/github/manthan038/Machine-Learning-/blob/master/Plalne_solution.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [0]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [5]:
data_plane=pd.read_csv("/content/drive/My Drive/Colab Notebooks/Hackerearth_plane_problem/train.csv")
data_plane.head()

                                  Severity  ...  Accident_ID
0                Minor_Damage_And_Injuries  ...         7570
1                Minor_Damage_And_Injuries  ...        12128
2        Significant_Damage_And_Fatalities  ...         2181
3  Significant_Damage_And_Serious_Injuries  ...         5946
4        Significant_Damage_And_Fatalities  ...         9054

[5 rows x 12 columns]

In [0]:
data_plane.drop(columns='Accident_ID',axis=1,inplace=True)

In [7]:
from sklearn.preprocessing import LabelEncoder
coded_data=LabelEncoder()
data_plane["Severity"]=coded_data.fit_transform(data_plane.iloc[:,0])
data_plane["Severity"]

0       1
1       1
2       2
3       3
4       2
       ..
9995    3
9996    0
9997    3
9998    1
9999    0
Name: Severity, Length: 10000, dtype: int64

## Standared scaler

In [0]:
data_plane.head()
from sklearn.preprocessing import StandardScaler
scale=StandardScaler()
scaled_data=scale.fit_transform(data_plane["Max_Elevation"])

In [10]:
print(data_plane['Severity'].value_counts())
data_plane.head()

0    3049
3    2729
1    2527
2    1695
Name: Severity, dtype: int64

   Severity  Safety_Score  ...  Violations  Adverse_Weather_Metric
0         1     49.223744  ...           3                0.424352
1         1     62.465753  ...           2                0.352350
2         2     63.059361  ...           3                0.003364
3         3     48.082192  ...           1                0.211728
4         2     26.484018  ...           2                0.176883

[5 rows x 11 columns]

##Model Section

In [0]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
#model=KNeighborsClassifier()
model=DecisionTreeClassifier()
model.fit(data_plane.iloc[:,1:],data_plane.iloc[:,0])
prediction_data=model.predict(data_plane.iloc[:100,1:])

In [12]:
from sklearn.metrics import mean_squared_error
mse=mean_squared_error(prediction_data,data_plane.iloc[:100,0])
mse

0.0

In [13]:
from sklearn.model_selection import cross_val_score
score=cross_val_score(model,data_plane.iloc[:,1:],data_plane.iloc[:,0],cv=10)
score.mean()

0.9316000000000001

## Testing on Test dataset

In [14]:
test_data=pd.read_csv("/content/drive/My Drive/Colab Notebooks/Hackerearth_plane_problem/test.csv")

#test_data.sort_values("Accident_ID",inplace=True)
test_data.shape

(2500, 11)

In [15]:
test_data.head()

   Safety_Score  Days_Since_Inspection  ...  Adverse_Weather_Metric  Accident_ID
0     19.497717                     16  ...                0.069692            1
1     58.173516                     15  ...                0.002777           10
2     33.287671                     15  ...                0.004316           14
3      3.287671                     21  ...                0.199990           17
4     10.867580                     18  ...                0.483696           21

[5 rows x 11 columns]

In [0]:
test_prediction=model.predict(test_data.iloc[:,:10])

In [19]:
data_frame={"Accident_ID":test_data["Accident_ID"],"Severity":test_prediction}
data_made_frame=pd.DataFrame(data_frame)
data_made_frame.head()

   Accident_ID  Severity
0            1         0
1           10         2
2           14         3
3           17         0
4           21         2

In [0]:
data_made_frame["Severity"]=coded_data.inverse_transform(data_made_frame['Severity'])

In [23]:
data_made_frame.head()

   Accident_ID                                 Severity
0            1                Highly_Fatal_And_Damaging
1           10        Significant_Damage_And_Fatalities
2           14  Significant_Damage_And_Serious_Injuries
3           17                Highly_Fatal_And_Damaging
4           21        Significant_Damage_And_Fatalities

In [0]:
export=data_made_frame.to_csv(r'/content/drive/My Drive/Colab Notebooks/Hackerearth_plane_problem/new_plane_problem.csv',index=False,header=False)