In [5]:
import re
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [51]:
df=pd.read_csv("/content/TRAIN.csv")  # training load
test_data=pd.read_csv("/content/TEST.csv")

In [52]:
df['main'] = df['TITLE'].map(str) + ' ' + df['ABSTRACT'].map(str)
test_data['main'] = test_data['TITLE'].map(str) + ' ' + test_data['ABSTRACT'].map(str)

In [54]:
print(df.shape)
df.head()

(17000, 10)

                                               TITLE  ...                                               main
0  ChemGAN challenge for drug discovery: can AI r...  ...  ChemGAN challenge for drug discovery: can AI r...
1  Hybrid graphene tunneling photoconductor with ...  ...  Hybrid graphene tunneling photoconductor with ...
2  Temperature Dependence of Magnetic Excitations...  ...  Temperature Dependence of Magnetic Excitations...
3  A Las Vegas algorithm to solve the elliptic cu...  ...  A Las Vegas algorithm to solve the elliptic cu...
4  Comparing simulations and test data of a radia...  ...  Comparing simulations and test data of a radia...

[5 rows x 10 columns]

In [55]:
print(test_data.shape)
test_data.head()

(3972, 3)

                                               TITLE  ...                                               main
0  On the wave propagation analysis and supratran...  ...  On the wave propagation analysis and supratran...
1  Thermal and non-thermal emission from the coco...  ...  Thermal and non-thermal emission from the coco...
2  HTEM data improve 3D modelling of aquifers in ...  ...  HTEM data improve 3D modelling of aquifers in ...
3  Chirality-induced Antisymmetry in Magnetic Dom...  ...  Chirality-induced Antisymmetry in Magnetic Dom...
4  In-home and remote use of robotic body surroga...  ...  In-home and remote use of robotic body surroga...

[5 rows x 3 columns]

In [56]:
from sklearn.metrics import accuracy_score
from sklearn.svm import LinearSVC
from sklearn.feature_extraction.text import CountVectorizer

In [58]:
vectorizer = CountVectorizer(stop_words="english",
                             preprocessor=clean_text)

training_features = vectorizer.fit_transform(df["main"])    
test_features = vectorizer.transform(test_data["main"])
# print(training_features)
model = LinearSVC()
model.fit(training_features, df["labels"])
# y_pred = model.predict(test_features)

# acc = accuracy_score(df["labels"], y_pred)

# print("Accuracy on the IMDB dataset: {:.2f}".format(acc*100))

LinearSVC(C=1.0, class_weight=None, dual=True, fit_intercept=True,
          intercept_scaling=1, loss='squared_hinge', max_iter=1000,
          multi_class='ovr', penalty='l2', random_state=None, tol=0.0001,
          verbose=0)

In [61]:
predicted_value=model.predict(test_features)

In [70]:
final_value=pd.DataFrame(predicted_value,columns=['labels'])
final_value.head(10)

                        labels
0                      Physics
1                      Physics
2                   Statistics
3                      Physics
4             Computer Science
5                      Physics
6             Computer Science
7                   Statistics
8  Computer Science,Statistics
9                  Mathematics

In [72]:
final_value.to_csv("Prediction_result.csv",index=True,header=True)